.container{
    width: 60vw;
    padding: 10vw;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
}

.h1{
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 32px;
}
.h5{
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 500;

}

.input{
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin: 12px 0px;
    height: 18px;
    border: 2px solid #c2c2c2;
    box-shadow: 0px 0px 0px 4px rgba(255,255, 255, 0.01);

}
.checkedInput{
    float: left;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.message{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16.85px;
}
.button{
    width: 50%;
    padding: 8px;
    font-size: 20px;
    background: #ED5353;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 500;
    margin-bottom:10px ;
    margin-top: 15px;
}
.footer{}
.underline{
    margin: 4px;
    font-weight: 700;
    text-decoration: underline;
}